[Desktop Entry]
Name=OuterD
NoDisplay=true
MimeType=x-scheme-handler/outerd;
TryExec=outerd
Exec=outerd %u
Icon=outerd
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=outerd
